.carousel-container
    .carousel-widget.app-container
        .project-description
            h2.feature.text-2 BABYLON RESIDENCE

            span.feature-description 458 Minh Khai, Hai Bà Trưng - Hà Nội

            span.feature-description Giá chỉ từ 4 tỷ

            button.btn.btn-accent Xem chi tiết

        form
            input(type="text" placeholder="Vui lòng nhập họ tên")
            input(type="text" placeholder="Số điện thoại")
            input(type="text" placeholder="Email")
            textarea(placeholder="Viết bình luận" rows=4)
            button.btn.btn-accent Đăng ký
