a.land-figure
    figure.land-figure-link(href="#")
        img(data-original="/assets/images/sp9_master.jpg")
        
        .land-details-nail
            .land-detail-info
                .icon
                    i.fa.fa-home(aria-hidden="true")
                p 56m2
            .land-detail-info
                .icon.end
                    i.fa.fa-bed(aria-hidden="true")
                p 2
            .land-detail-info
                .icon.top
                    i.fa.fa-bath(aria-hidden="true")
                p 1
            .land-detail-info
                .icon.smaller
                    i.fa.fa-calendar-plus-o(aria-hidden="true")
                p 2017

        .land-price 1.2m