html
    include ../components/head/head.pug
    body

        include ../components/header/header.pug

        main
            .page-header
                h2.page-title.text-3 Tin tức WealthLand

            .app-container
                .row
                    section.blog-list.col-12.col-md-9
                        include ../components/blog-list-item/blog-list-item.pug
                        include ../components/blog-list-item/blog-list-item.pug
                        include ../components/blog-list-item/blog-list-item.pug
                        include ../components/blog-list-item/blog-list-item.pug
                        include ../components/blog-list-item/blog-list-item.pug

                    aside.function-container.col-12.col-md-3
                        form.search-form
                            input(type="text", placeholder="Search...")
                            
                            button.btn.btn-accent
                                i.fa.fa-search

                        .blog-group
                            .title BÀI VIẾT MỚI

                            ul.blog-list
                                li
                                    a(href="../blog-single.html") 5 YẾU TỐ TẠO NÊN CƠ HỘI ĐẦU TƯ THÔNG MINH TẠI FLC LUXURY HOTEL SẦM SƠN
                                li
                                    a(href="../blog-single.html") 5 YẾU TỐ TẠO NÊN CƠ HỘI ĐẦU TƯ THÔNG MINH TẠI FLC LUXURY HOTEL SẦM SƠN
                                li
                                    a(href="../blog-single.html") 5 YẾU TỐ TẠO NÊN CƠ HỘI ĐẦU TƯ THÔNG MINH TẠI FLC LUXURY HOTEL SẦM SƠN
                                li
                                    a(href="../blog-single.html") 5 YẾU TỐ TẠO NÊN CƠ HỘI ĐẦU TƯ THÔNG MINH TẠI FLC LUXURY HOTEL SẦM SƠN
                        
                        .blog-group
                            .title Phản hồi gần đây

                            ul.blog-list

                        .blog-group
                            .title Lưu trữ

                            ul.blog-list
                                li
                                    a(href="") Tháng Tám 2019

                        .blog-group
                            .title Chuyên mục

                            ul.blog-list
                                li
                                    a(href="") Tin Bất động sản
                        .blog-group
                            .title Meta

                            ul.blog-list
                                li
                                    a(href="") Đăng nhập
                                li
                                    a(href="") RSS cho bài viết
                                li
                                    a(href="") Dòng thông tin phản hồi
                            
        include ../components/footer/footer.pug