html
    include ../components/head/head.pug
    body
        
        include ../components/header/header.pug

        include ../components/banner-carousel/banner-carousel.pug

        section.gallery-room
            include ../components/gallery-figure-room/gallery-figure-room.pug
            include ../components/gallery-figure-room/gallery-figure-room.pug
            include ../components/gallery-figure-room/gallery-figure-room.pug
            include ../components/gallery-figure-room/gallery-figure-room.pug

        section.news-tweet
            include ../components/news-figure/news-figure.pug

        script(src="/assets/js/all.js")