html
    include ../components/head/head.pug
    body

        include ../components/header/header.pug

        main.index-page
            .page-header
                h2.page-title.text-3 Thư viện ảnh


            section.gallery-room.container
                .row
                    .col-12.col-md-4
                        include ../components/gallery-figure-room/gallery-figure-room.pug
                    .col-12.col-md-4
                        include ../components/gallery-figure-room/gallery-figure-room.pug
                    .col-12.col-md-4
                        include ../components/gallery-figure-room/gallery-figure-room.pug
                    .col-12.col-md-4
                        include ../components/gallery-figure-room/gallery-figure-room.pug
                    .col-12.col-md-4
                        include ../components/gallery-figure-room/gallery-figure-room.pug
                    .col-12.col-md-4
                        include ../components/gallery-figure-room/gallery-figure-room.pug
                    .col-12.col-md-4
                        include ../components/gallery-figure-room/gallery-figure-room.pug
                    .col-12.col-md-4
                        include ../components/gallery-figure-room/gallery-figure-room.pug
                    .col-12.col-md-4
                        include ../components/gallery-figure-room/gallery-figure-room.pug

        include ../components/footer/footer.pug