html
    include ../components/head/head.pug
    body

        include ../components/header/header.pug

        main.index-page
            .page-header
                h2.page-title.text-3 Mặt bằng căn hộ
            
            section.gallery-room.container
                .title-section.has-margin
                    h2.text-3 Mặt bằng căn hộ 2 phòng ngủ
                    
                .row
                    .col-6.col-md-4
                        include ../components/plan-figure-house/plan-figure-house.pug
                    .col-6.col-md-4
                        include ../components/plan-figure-house/plan-figure-house.pug
                    .col-6.col-md-4
                        include ../components/plan-figure-house/plan-figure-house.pug
                    .col-6.col-md-4
                        include ../components/plan-figure-house/plan-figure-house.pug
                    .col-6.col-md-4
                        include ../components/plan-figure-house/plan-figure-house.pug
                    .col-6.col-md-4
                        include ../components/plan-figure-house/plan-figure-house.pug

                .title-section.has-margin
                    h2.text-3 Mặt bằng căn hộ 3 phòng ngủ
                    
                .row
                    .col-6.col-md-4
                        include ../components/plan-figure-house/plan-figure-house.pug
                    .col-6.col-md-4
                        include ../components/plan-figure-house/plan-figure-house.pug
                    .col-6.col-md-4
                        include ../components/plan-figure-house/plan-figure-house.pug
                    .col-6.col-md-4
                        include ../components/plan-figure-house/plan-figure-house.pug
                    .col-6.col-md-4
                        include ../components/plan-figure-house/plan-figure-house.pug
                    .col-6.col-md-4
                        include ../components/plan-figure-house/plan-figure-house.pug


        include ../components/footer/footer.pug