html
    include ../components/head/head.pug
    body

        include ../components/header/header.pug

        main
            .page-header
                h2.page-title.text-3 Giới thiệu

            article.container.intro-details
                p.intro <b>Trang giới thiệu</b> giúp khách hàng hiểu rõ hơn về cửa hàng của bạn. Hãy cung cấp thông tin cụ thể về việc kinh doanh, về cửa hàng, thông tin liên hệ. Điều này sẽ giúp khách hàng cảm thấy tin tưởng khi mua hàng trên website của bạn.

                .intro-row
                    .media-container
                        img(data-original="/assets/images/sp8_master.jpg")

                    .text-description
                        h3.title.text-3.text-medium MÔ TẢ CĂN HỘ:
                        p.content.text-medium-light Phòng khách chính là nơi để đón tiếp những vị khách quý hay bạn bè của gia chủ cho nên đây cũng có thể được coi là bộ mặt chính của mỗi căn hộ.Chúng ta có thể dễ dàng nhận thấy đặc điểm chung của nội thất phòng khách hiện đại đó là việc sử dụng những mẫu Ghế sofa đẹp đi kèm với một chiếc bàn kính hiện đại đặt trước tivi và Kệ tivi đẹp.

                        h3.title.text-3.text-medium THÔNG TIN CHI TIẾT:
                        ul.text-medium-light
                            li Gạch lát sàn bằng gỗ tự nhiên
                            li Có cửa kính trong phòng tắm
                            li Thiết bị tiện nghi và chất lượng

                .clearfix

                .intro-row.reverse
                    .media-container
                        img(data-original="/assets/images/sp9_master.jpg")

                    .text-description
                        h3.title.text-3.text-medium GIỚI THIỆU CĂN HỘ
                        p.content.text-medium-light Phòng khách chính là nơi để đón tiếp những vị khách quý hay bạn bè của gia chủ cho nên đây cũng có thể được coi là bộ mặt chính của mỗi căn hộ.Chúng ta có thể dễ dàng nhận thấy đặc điểm chung của nội thất phòng khách hiện đại đó là việc sử dụng những mẫu Ghế sofa đẹp đi kèm với một chiếc bàn kính hiện đại đặt trước tivi và Kệ tivi đẹp.
                        
                        p.content.text-medium-light Bên cạnh đó, Qúy khách còn được tận hưởng những dịch vụ thư giãn: phòng xông hơi, xông khô, phòng tập thể dục đầy đủ dụng cụ, công viên, khu vui chơi trẻ em.
        include ../components/footer/footer.pug