html
    include ../components/head/head.pug
    body

        include ../components/header/header.pug

        main.index-page
            .page-header
                h2.page-title.text-3 Bất động sản
            
            section.gallery-room.container
                .title-section.has-margin
                    h2.text-3 Mặt bằng căn hộ 2 phòng ngủ
                    
                .row
                    .col-12.col-sm-6.col-md-4
                        include ../components/land-figure/land-figure.pug
                    .col-12.col-sm-6.col-md-4
                        include ../components/land-figure/land-figure.pug
                    .col-12.col-sm-6.col-md-4
                        include ../components/land-figure/land-figure.pug
                    .col-12.col-sm-6.col-md-4
                        include ../components/land-figure/land-figure.pug
                    .col-12.col-sm-6.col-md-4
                        include ../components/land-figure/land-figure.pug
                    .col-12.col-sm-6.col-md-4
                        include ../components/land-figure/land-figure.pug
                   


        include ../components/footer/footer.pug