script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous")
script(type="text/javascript" src="/assets/js/jquery.lazyload.js")
script(src="/assets/js/all.js")

footer
    .container-fluid.contact
        .container
            .title-section
                h2.text-3 liên hệ với chúng tôi



            .description Nếu có bất kỳ câu hỏi thắc mắc nào hay muốn tìm hiểu thêm về chúng tôi. Xin hãy liên hệ với chúng tôi để nhận được câu trả lời chính xác và nhanh nhất!

            button.btn.btn-accent Liên hệ
    .container-fluid.copyright Copyright 2020 @ Babylon Residence
