.hot-projects-container
    figure.hot-project
        img(data-original="/assets/images/slider_1.jpg")

        figcaption
            p.hot-project__title First Class Villa Garden
            p.hot-project__description.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste a minus tempore provident alias impedit veniam nihil possimus deserunt, neque nemo, iure saepe excepturi autem quaerat. Fugit commodi quos nobis?
            a.link-project(href="javascript:;") Xem chi tiết >>
        
    figure.hot-project
        img(data-original="/assets/images/slider_1.jpg")

        figcaption
            p.hot-project__title First Class Villa Garden
            p.hot-project__description.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste a minus tempore provident alias impedit veniam nihil possimus deserunt, neque nemo, iure saepe excepturi autem quaerat. Fugit commodi quos nobis?
            a.link-project(href="javascript:;") Xem chi tiết >>
        
    figure.hot-project
        img(data-original="/assets/images/slider_1.jpg")

        figcaption
            p.hot-project__title First Class Villa Garden
            p.hot-project__description.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste a minus tempore provident alias impedit veniam nihil possimus deserunt, neque nemo, iure saepe excepturi autem quaerat. Fugit commodi quos nobis?
            a.link-project(href="javascript:;") Xem chi tiết >>
        
