.page-header
    margin-bottom: 2rem


a.blog-list-item 
    display: flex
    align-items: center
    margin-bottom: 2rem

    figure.blog-list-item__preview
        box-sizing: border-box
        flex-grow: 0
        flex-shrink: 0
        height: 180px
        width: 30%
        background: red
        position: relative
        // overflow: hidden

        img
            width: 100%
            object-fit: cover
            height: 100%

        .date-tag
            position: absolute
            left: 0
            top: 1rem
            padding: .5rem 1rem
            color: $light

            span
                display: block

            .date
                font-size: 1.2rem

            .month
                font-size: .9rem

    .text-info
        flex-grow: 1
        text-align: left
        padding-left: 1.5rem

        .main-title-wrapper
            max-width: 100%
            .main-title
                margin-bottom: .5rem
                text-transform: uppercase
                text-align: left
                display: -webkit-box
                -webkit-line-clamp: 2
                -webkit-box-orient: vertical
                overflow: hidden

        .split-line
            display: flex
            justify-content: flex-start
            align-items: center
            margin: .5rem 0

            div
                box-sizing: border-box
                height: .2rem
                width: 2rem
                background: rgba(0,0,0,.1)
                text-align: center
                border-radius: .5rem


        .short-description
            text-align: left
            display: -webkit-box
            -webkit-line-clamp: 2
            -webkit-box-orient: vertical
            overflow: hidden
            font-size: .9rem
            opacity: .4
            transition: .3s all

@media screen and ( max-width: $lg-screen-max )
    a.blog-list-item 
        figure.blog-list-item__preview
            height: 180px

@media screen and ( max-width: $md-screen-max )
    a.blog-list-item 
        figure.blog-list-item__preview
            height: 160px
        
@media screen and ( max-width: $sm-screen-max )
    a.blog-list-item 

        figure.blog-list-item__preview
            width: 28%
            height: 120px

            .date-tag
                font-size: .6rem
                position: absolute
                left: 0
                top: 1rem
                padding: .2rem .3rem
                color: $light

                span
                    display: block

                .date
                    font-size: 1rem

                .month
                    font-size: .8rem

        .text-info
            flex-grow: 1
            text-align: left
            padding-left: 1rem

    
@media screen and ( max-width: $xs-screen-max )
    a.blog-list-item 

        figure.blog-list-item__preview
            width: 28%
            height: 80px

            .date-tag
                font-size: .6rem
                position: absolute
                left: 0
                top: 1rem
                padding: .2rem .3rem
                color: $light

                span
                    display: block

                .date
                    font-size: 1rem

                .month
                    font-size: .8rem

        .text-info
            flex-grow: 1
            text-align: left
            padding-left: 1rem
     
