a.blog-list-item(href="../blog-single.html")
    .news-figure
        .image__wrapper
            img(data-original="/assets/images/5-yeu-to-tao-nen-co-hoi-dau-tu-thong-minh-tai-flc-luxury-hotel-sam-son-257-8643.jpg")

            .date-tag.bg-accent
                span.date 03
                span.month Th7

    .text-info
        .main-title-wrapper
            .main-title.text-medium MAIN TITLE Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos, harum. sit amet consectetur adipisicing elit. Eos, harum.

        .split-line
            div

        .short-description.text-medium
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit architecto consequuntur quidem dignissimos! Ex debitis vel sunt, cum aspernatur perferendis, voluptas, corporis ipsum quasi nobis praesentium consectetur a nostrum expedita!
