figure.gallery-figure-room
<<<<<<< HEAD
    img(data-original="/assets/images/phong-giai-tr.jpg")
=======
    .image__wrapper
        img(data-original="/assets/images/phong-giai-tr.jpg")
>>>>>>> feature/statistical-count-views

    .title.text-medium
        span ROOM IN HOUSE

    a.float-title.hover-darken.ease-out(href="../introduce.html")  Chi tiết
        