figure.gallery-figure-room
    img(data-original="/assets/images/phong-giai-tr.jpg")

    .title.text-medium
        h4 ROOM IN HOUSE
        div.sub-info
            i.fa.fa-book
            span Quy mô dự án: 18.000 m2
        div.sub-info
            i.fa.fa-bookmark-o
            span Diện tích căn hộ: 48m2 - 96m2

    a.float-title.hover-darken.ease-out(href="../introduce.html")  Chi tiết
        