figure.gallery-figure-room
    img(data-original="/assets/images/phong-giai-tr.jpg")

    .title.text-medium
        span ROOM IN HOUSE

    a.float-title.hover-darken.ease-out(href="../introduce.html")  Chi tiết
        